.git
/var/
/vendor/

###> phpunit ###
.phpunit
.phpunit.result.cache
/phpunit.xml
./tests/Fixture/var/
###< phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###